
version: "3.9"

services:
  app:
    build: .
    container_name: simple-web-socket-app
    environment:
      HTTP_PORT: "3000"
      SOCKET_PORT: "5000"
      MONGO_HOST: "mongo"
      MONGO_PORT: "27017"
      MONGO_DB: "messages_db"
      MONGO_COLLECTION: "messages"
    ports:
      - "3000:3000"
      - "5000:5000"
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
